.App {
  text-align: center;
  margin-left: 35px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.select {
  height: 25px;
  width: 150px;
}
.header {
  height: 25px;
  width: 300px;
}

.sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.Title {
  display:center;
  align-items: center;
  gap: 16px;
  color: #eee;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 5px 5px 5px rgba(188, 147, 147, 0.5);
  letter-spacing: 1px;
  text-align: center;
  margin-right:100px;
}
.icon{
  font-size: 2.8rem;
  vertical-align:middle;
  margin-bottom: 11px;
  margin-left: 0px;
  box-shadow: 1px 1px 1px rgba(188, 147, 147, 0.5);
  background :none;
  /* margin-right: 10px; */
}
