.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.load_more {
  margin-top: 20px;
  box-shadow: 1px 1px 1px #ffffff;
  /* background-color: antiquewhite; */
}
