.navbar {
  text-align: left;
  align-content: end;
  /* background-color: aqua; */

  display: flex;
  flex-direction: column;

  position: fixed;
  height: 100vh;
  top: 10px;
  left: 10px;
  z-index: 100;
}

#nav_pop {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  align-content: right;
  padding: 0px;
  margin: 0px;
}

.nav-menu-items a,
.nav-menu-items li {
  text-decoration: none;
  list-style: none;
  margin: 5px;
}
.nav-menu-items{
  margin-left: 0px;
  padding: 0px;
}

.nav-menu {
  display: none;
}
.nav-menu.active {
  display: block;
  margin-left: 0px;
  justify-content: right;
  align-items: right;
}
